// Use @use for SCSS files (with as * to make styles global), @import for CSS files
// All @use statements must come before any @import statements
@use '~bootstrap/scss/bootstrap' as *;
@use 'node_modules/react-modal-video/scss/modal-video.scss' as *;
@use '@assets/scss/main.scss' as *;

// CSS files use @import
@import "swiper/css/bundle";
@import "~slick-carousel/slick/slick.css"; 
@import 'node_modules/react-tooltip/dist/react-tooltip.css';
@import '@assets/css/nice-select.css';

// Ensure numbers stay LTR in RTL layouts (standard practice)
[dir="rtl"],
.rtl {
  // Numbers, prices, and numeric values should remain LTR
  .amount,
  .price,
  [class*="price"],
  [class*="amount"],
  [class*="total"],
  [class*="quantity"],
  [class*="count"],
  [class*="number"],
  span[dir="ltr"] {
    direction: ltr !important;
    display: inline-block;
    unicode-bidi: embed;
    text-align: left;
  }
}
